.faq {
  padding: 80px 0;
  background-image: url(../../images/faq-bits-sm.webp);
  background-repeat: no-repeat;
  background-size: 360px auto;
  background-position: top, center;

  h2 {
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    max-width: 920px;
    margin: 0 auto;
  }

  &__el {
    width: 100%;
    padding: 12px 16px 0 16px;
    border-radius: 12px;
    border: 2px solid #26354A;
    background-color: rgb(21 28 41);

    cursor: pointer;
    overflow: hidden;

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 10px;
      margin-bottom: 12px;

      p {
        padding-right: 30px;
        font-weight: 900;
        line-height: 150%;
      }

      .collapse-btn {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        position: relative;

        &:after, &:before {
          content: '';
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2px;
          height: 20px;
          background-color: #fff;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(0deg);
          transition: transform .5s ease;
        }

        &:before {
          transform: translate(-50%, -50%) rotate(90deg);
        }


        &.toggle {
            &:after, &:before {
              transform: translate(-50%, -50%) rotate(450deg);
            }
        }
      }

    }

    &.show {
      border: 2px solid #4297F7;

      .faq__collapse {
        padding-bottom: 32px;
        max-height: 200px;
      }
    }
  }

  &__collapse {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0.28px;
    max-height: 0;
    padding-bottom: 0;
    transition: max-height .5s, padding .85s;

    ul {
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      row-gap: 2px;
    }
  }
}

@media (min-width: $md) {
  .faq {


   &__el {

    &__top {
      p {
        font-size: 2rem;
      }
    }
   }

   &__collapse {
    font-size: 1.6rem;
   }
  }
}

@media(min-width: $lg) {
  .faq {
    background-image: url(../../images/faq-bits-left.webp), url(../../images/faq-bits-right.webp);
    background-repeat: repeat-y, repeat-y;
    background-size: 300px auto 300px auto;
    background-position: left 20px top 200px, right 20px top 200px;

    &__content {
      row-gap: 24px;
    }

    &__el {
      border-radius: 24px;
      padding: 24px 24px 0 24px;

      &:hover {
        background-color: rgb(28, 38, 56);
      }

     &__top {
      margin-bottom: 24px;
       p {
         font-size: 2rem;
       }
     }
    }

    &__collapse {
     font-size: 1.6rem;
    }
   }
}

@media(min-width: $xl) {
  .faq {
    padding: 120px 0;
    background-size: auto auto, auto auto;
    background-position: left 20px top 120px, right 20px top 120px;

    &__el {
     &__top {
       p {
         font-size: 2.4rem;
       }
     }
    }

    &__collapse {
     font-size: 2rem;
    }
   }
}