.roadmap {
  padding: 80px 0;


  h2 {
    text-align: center;
  }

  &__txt {
    color: #A2ABB9;
    text-align: center;
    line-height: 150%;
    letter-spacing: .32px;
    margin: 0 auto 40px;
    max-width: 510px;


  }

  img {
    margin:  0 auto;
  }
}

@media (min-width: $lg) {
  .roadmap {
    &__txt {
      font-size: 1.8rem;
      max-width: 600px;
      margin: 0 auto 80px;
    }
  }
}

@media (min-width: $xl) {
  .roadmap {
    &__txt {
      font-size: 2rem;
    }
  }
}