.team {
  padding: 80px 0;

  .heading {
    width: fit-content;
    margin: 0 auto 15px 0;
    display: grid;

    * {
      grid-column: 1;
      grid-row: 1;
    }

    img {
      z-index: -1;

      &:first-of-type {
        align-self: end;
        width: 85px;
        height: 18px;

      }

      &:last-of-type {
        align-self: start;
        justify-self: end;
        width: 135px;
        height: 36px;

      }
    }

    h2 {
      margin-bottom: 0;
      padding: 18px 13px 13px 0;
    }
  }

  &__subtitle {
    color: #A2ABB9;
    line-height: 140%;
    font-weight: 500;
    max-width: 920px;
    margin: 0 auto 32px;
  }

  &__box {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 16px;
  }

  .teammate {
    display: flex;
    align-items: center;
    column-gap: 16px;

    &__tag {
      display: none;
    }

    &__picture {
      flex-shrink: 0;
      width: 60px;
      height: 60px;
      border-radius: 12px;
      overflow: hidden;
      background-color: #26354A;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      img {
        max-width: 100%;
      }

      &--orange {
        background-color: #F9A620;
      }

      &--green {
        background-color: #46CA6B;
      }

      &--blue {
        background-color: #4297F7;
      }

      &--purple {
        background-color: #BC66FF;
      }

      &--blueish {
        background-color: #99BAFB;
      }

      &--darkorange {
        background-color: #EA5530;
      }
    }

    &__description {
      p {
        &:first-of-type {
          font-weight: 900;
          margin-bottom: 4px;
        }

        &:last-of-type {
          color: #A2ABB9;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: .28px;
        }
      }
    }
  }

}

@media (min-width: $md) {
  .team {

    .heading {
      margin: 0 auto 15px;
      h2 {
        padding: 12px 13px 9px 13px;
      }

      img {


        &:first-of-type {
          width: 112px;
          height: 24px;
          padding-left: 13px;
        }

        &:last-of-type {
          width: 122px;
          height: 45px;
        }
      }
    }


    &__subtitle {
      text-align: center;
      margin: 0 auto 50px;
    }

    &__box {

      flex-direction: row-reverse;
      flex-wrap: wrap-reverse;
      justify-content: space-around;
      align-content: space-between;
      row-gap: 40px;


    }

    .teammate {
      height: auto;
      width: 212px;
      flex-direction: column;
      text-align: center;
      position: relative;

      &__picture {
        width: 100px;
        height: 100px;
        margin-bottom: 25px;
      }

     &__tag {
      display: block;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #4297F7;
        border: 2px solid $primary-color;
        padding: 4px 12px;
        border-radius: 1000px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 133%;

        &--orange {
          background-color: #F9A620;
          color: #000000;
        }
      }
    }

  }
}


@media (min-width: $lg) {
  .team {
    background-image: url(../../images/team-bits.webp);
    background-repeat: no-repeat;
    background-size: 95% auto;
    background-position: top 80px center;
    .heading {
      margin: 0 auto 15px;
      h2 {
        padding: 14px 15px 7px 15px;
      }

      img {


        &:first-of-type {
          width: 143px;
          height: auto;
          padding-left: 15px;
        }

        &:last-of-type {
          width: 154px;
          height: auto;
        }
      }
    }

    &__subtitle {
      font-size: 2rem;
    }

    &__box {
      flex-direction: row-reverse;
      height: auto;
      justify-content: space-around;
    }

    .teammate {
      height: auto;
      width: 220px;
      flex-direction: column;
      text-align: center;


    }
  }
}

@media (min-width: $xl) {
  .team {
    padding: 120px 0;
    background-position: top 120px center;
    .heading {

      h2 {
        padding: 14px 20px 7px 20px;
      }

      img {


        &:first-of-type {
          width: auto;
          height: auto;
          padding-left: 20px;
        }

        &:last-of-type {
          width: auto;
          height: auto;
        }
      }
    }

    &__subtitle {
      font-size: 2rem;
      margin-bottom: 80px;
    }

    &__box {
      row-gap: 60px;
    }

    .teammate {
      width: 214px;


      &__description {
        p {
          &:first-of-type {
            font-size: 1.8rem;
          }

          &:last-of-type {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}


@media (min-width: $xxl) {
  .team {

    .teammate {
      width: 270px;
      &__picture {
        width: 128px;
        height: 128px;
      }

      &__tag {
        top: 128px;
      }

      &__description {
        p {
          &:first-of-type {
            font-size: 2rem;
          }

          &:last-of-type {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}