.traffic {
  padding: 40px 0;




  h2 {
    text-align: center;
    position: relative;
    z-index: 20;

    span {
      display: block;
    }
  }

  .gradient-border {
    background: rgb(159, 83, 250);
    background: linear-gradient(90deg, rgba(159, 83, 250, 1) 0%, #64ACFD 50%, rgba(159, 83, 250, 1) 100%);
    border-radius: 32px;
    padding: 4px;

    position: relative;
    z-index: 10;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -144px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 360px;
      height: 360px;
      border-radius: 50%;
      background: #7508F9;
      opacity: .2;
      filter: blur(100px);
    }
  }

  &__content {
    border-radius: 32px;
    background-color: $primary-color;
    padding: 44px 14px 20px;
    text-align: center;

    .grad-txt {
      background: linear-gradient(91deg, #64ACFD 34.58%, #9F53FA 120%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .subtitle {
      color: #A2ABB9;
      font-weight: 500;
      letter-spacing: .32px;
      line-height: 150%;
      margin-bottom: 24px;

      span {
        color: #ffffff;
      }
    }

    .users {
      display: flex;
      justify-content: center;
      column-gap: 4px;
      margin-bottom: 48px;

      div {
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #26354A;
        border: 1px solid #677488;
        border-radius: 4px;

        font-weight: 900;
        line-height: 150%;
      }

      .dot {
        background-color: transparent;
        border: 0px;
        color: #677488;
        padding: 8px 0;
      }
    }

    .sites {
      display: flex;
      row-gap: 16px;
      column-gap: 16px;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 19px;

      &__el {
        flex-shrink: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        width: fit-content;
        height: 80px;

        picture {
          align-self: center;
          justify-self: center;
        }

        div {
          width: fit-content;
          margin: 0 auto;
          border-radius: 1000px;
          background-color: rgba(255, 255, 255, 0.16);
          padding: 4px 8px;
          font-weight: 900;
          font-size: 1.2rem;
          align-self: end;
        }
      }
    }

    .last {
      font-size: 1.2rem;
      letter-spacing: .24px;
      font-weight: 500;
      color: #A2ABB9;
    }
  }
}

@media (min-width: $md) {
  .traffic {
    &__content {

      .users {
        div {
          font-size: 2.5rem;
        }
      }

      .last {
        font-size: 1.4rem;
      }
    }
  }
}

@media (min-width: $lg) {
  .traffic {
    overflow-x: hidden;
    padding: 120px 0;

    h2 {
      span {
        display: inline;
      }
    }

    .gradient-border {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;

      &:before, &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: -17px;

        transform: translateX(0);
        display: block;
        width: 407px;
        height: 371px;
        border-radius: 407px;
        background: #7508F9;
        opacity: .2;
        filter: blur(100px);
      }

      &:before {
       left: -115px;
    }

    &:after {
      right: -115px;
   }
  }

    &__content {
      padding: 44px 30px 44px;

      h3 {
        font-size: 4rem;
      }

      .subtitle {
        font-size: 2rem;
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
      }

      .users {
        margin-bottom: 24px;
        column-gap: 5px;
        div {
          font-size: 5.6rem;
          line-height: 115%;
          padding: 15px 15px;
          border-radius: 12px;
          border-width: 2px;
        }
      }

      .sites {
        background-color: #1A2638;
        border-radius: 12px;
        padding: 17px;
        column-gap: 20px;
        &__el {
          height: 107px;
          row-gap: 16px;
        }
      }

      .last {
        font-size: 1.6rem;
      }
    }
  }
}

@media (min-width: $xl) {
  .traffic {
    padding: 120px 0;
    background-color: $primary-color;
    background-image: url(../../images/cato-bits.webp), url(../../images/doge-bits.webp);
    background-repeat: no-repeat;
    background-position: top 223px left, top 342px right;

    .gradient-border {
      max-width: 923px;
    }

    &__content {
      padding: 60px 55px 48px;

      .users {
        div {
          padding: 15px 19px;
        }
      }

      .sites {
        column-gap: 24px;
        padding: 17px 20px 24px;

        &__el {
          min-width: 100px;

        }
      }
    }
  }
}

@media (min-width: $xxl) {
  .traffic {
    background-color: $primary-color;
    background-image: url(../../images/cato-bits.webp), url(../../images/cato-big.webp), url(../../images/doge-bits.webp), url(../../images/doge.webp);
    background-repeat: no-repeat;
    background-position: top 223px left, top 223px left, top 342px right, top 342px right;
    background-blend-mode: normal, luminosity, normal, luminosity;

  }
}