<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8" />
  <title>Openmeme.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Openmeme.io" />
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
</head>


<body>

  <section class="omc">
    <div class="container">
      <div class="heading">
        <h2>What is OMC and <br>why it's so big?</h2>
        <img src="./images/omc-circle.png" alt="yellow circle">
      </div>
    </div>
  </section>

  <section class="team">
    <div class="container">
      <div class="heading">
        <h2>Team & Advisors</h2>
        <img src="./images/team-arrow.png" alt="blue arrow">
        <img src="./images/team-arrow2.png" alt="orange arrow">
      </div>
      <p class="team__subtitle">
        We are a team of experienced entrepreneurs, responsible for dozens of successful startups all round the world. Most of us have been involved in community-driven meme plarforms and blockchain projects for over 10 years.
      </p>

      <div class="team__box">

        <div class="teammate">
          <div class="teammate__tag teammate__tag--orange">advisor</div>
          <div class="teammate__picture">
            <img src="./images/team/team9.png" alt="team member image">
          </div>
          <div class="teammate__description">
            <p>Przemysław Supeł</p>
            <p>Blockchain Consultant</p>
          </div>
        </div>

        <div class="teammate">
          <div class="teammate__tag teammate__tag--orange">advisor</div>
          <div class="teammate__picture">
            <img src="./images/team/team8.png" alt="team member image">
          </div>
          <div class="teammate__description">
            <p>Bogusz Kończak</p>
            <p>Advisor</p>
          </div>
        </div>

        <div class="teammate">
          <div class="teammate__tag">team</div>
          <div class="teammate__picture">
            <img src="./images/team/team7.png" alt="team member image">
          </div>
          <div class="teammate__description">
            <p>Paweł Podsiadły</p>
            <p>Senior Software Developer</p>
          </div>
        </div>

        <div class="teammate">
          <div class="teammate__tag">team</div>
          <div class="teammate__picture teammate__picture--darkorange">
            <img src="./images/team/team6.png" alt="team member image">
          </div>
          <div class="teammate__description">
            <p>Sebastian Kalinowski</p>
            <p>Senior Software Developer</p>
          </div>
        </div>

        <div class="teammate">
          <div class="teammate__tag">team</div>
          <div class="teammate__picture teammate__picture--blueish">
            <img src="./images/team/team5.png" alt="team member image">
          </div>
          <div class="teammate__description">
            <p>Karol Rudziński</p>
            <p>Senior Software Developer</p>
          </div>
        </div>

        <div class="teammate">
          <div class="teammate__tag">team</div>
          <div class="teammate__picture teammate__picture--purple">
            <img src="./images/team/team4.png" alt="team member image">
          </div>
          <div class="teammate__description">
            <p>Tim Kremer</p>
            <p>Senior Product Designer</p>
          </div>
        </div>

        <div class="teammate">
          <div class="teammate__tag">team</div>
          <div class="teammate__picture teammate__picture--blue">
            <img src="./images/team/team3.png" alt="team member image">
          </div>
          <div class="teammate__description">
            <p>Magdalena Pietrysko</p>
            <p>COO</p>
          </div>
        </div>

        <div class="teammate">
          <div class="teammate__tag">team</div>
          <div class="teammate__picture teammate__picture--green">
            <img src="./images/team/team2.png" alt="team member image">
          </div>
          <div class="teammate__description">
            <p>Michał Czekała</p>
            <p>CTO</p>
          </div>
        </div>

        <div class="teammate">
          <div class="teammate__tag">team</div>
          <div class="teammate__picture teammate__picture--orange">
            <img src="./images/team/team1.png" alt="team member image">
          </div>
          <div class="teammate__description">
            <p>Dmitry Glushchenko</p>
            <p>Founder</p>
          </div>
        </div>
















      </div>

    </div>
  </section>

  <section class="thoughts">
    <div class="container">

      <h2>What people think</h2>

      <div class="thoughts__content">
        <blockquote class="twitter-tweet" data-lang="en" data-theme="dark"><p lang="en" dir="ltr">The meme economy will become real. <br><br>- Meme creators will make NFTs<br>- Timestamps give proof-of-first<br>- Memegen partially goes on-chain<br>- Memetic spread is more traceable<br>- Memers become millionaires<br>- Risky art becomes uncensorable &amp; monetizable<br>- Art moves outside regime control</p>&mdash; Balaji (@balajis) <a href="https://twitter.com/balajis/status/1370373708506750977?ref_src=twsrc%5Etfw">March 12, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <blockquote class="twitter-tweet" data-lang="en" data-theme="dark"><p lang="en" dir="ltr">Who controls the memes,<br>controls the Universe</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1276418907968925696?ref_src=twsrc%5Etfw">June 26, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

    </div>
  </section>
  <section class="faq">
    <div class="container">
      <h2>FAQ</h2>

      <div class="faq__content">
        <div class="faq__el">
          <div class="faq__el__top">
            <p>Openmeme – Community Economy</p>
            <div class="collapse-btn">
              <img class="plus" src="./images/plus.png" alt="plus icon">
              <img class="minus" src="./images/minus.png" alt="minus icon">
            </div>
          </div>
          <div class="faq__collapse">
            <p>
              Openmeme operates as a 'community economy'. Users who help develop the platform by completing tasks receive Tokens representing the platform.
            </p>
          </div>
        </div>
        <div class="faq__el">
          <div class="faq__el__top">
            <p>Profit Sharing with Openmeme</p>
            <div class="collapse-btn">
              <img class="plus" src="./images/plus.png" alt="plus icon">
              <img class="minus" src="./images/minus.png" alt="minus icon">
            </div>
          </div>
          <div class="faq__collapse">
            <p>
              Openmeme is a business that earns from advertising and an NFT marketplace. All profits are paid out to token holders. 'Staking' your coins allows you to receive profits in other tokens that can be immediately monetized.
            </p>
          </div>
        </div>
        <div class="faq__el">
          <div class="faq__el__top">
            <p>Development of the platform</p>
            <div class="collapse-btn">
              <img class="plus" src="./images/plus.png" alt="plus icon">
              <img class="minus" src="./images/minus.png" alt="minus icon">
            </div>
          </div>
          <div class="faq__collapse">
            <p>
              The platform grows by creating content by users, which attracts others and spreads across the internet. The more and better the content, the more users on Openmeme. As they say: "Content is king."
            </p>
          </div>
        </div>
        <div class="faq__el">
          <div class="faq__el__top">
            <p>NFT technology and memes</p>
            <div class="collapse-btn">
              <img class="plus" src="./images/plus.png" alt="plus icon">
              <img class="minus" src="./images/minus.png" alt="minus icon">
            </div>
          </div>
          <div class="faq__collapse">
            <p>
              On Openmeme, memes are created from the NFT elements of other users. You can add your own element, template, sticker, anything you want, to the collection. If your creation becomes popular and is used by others, it will increase in value. In the final version of the platform, you will receive tokens for others using your elements.
            </p>
          </div>
        </div>
        <div class="faq__el">
          <div class="faq__el__top">
            <p>Validation</p>
            <div class="collapse-btn">
              <img class="plus" src="./images/plus.png" alt="plus icon">
              <img class="minus" src="./images/minus.png" alt="minus icon">
            </div>
          </div>
          <div class="faq__collapse">
            <p>
              All elements undergo independent validation. Validators - selected users - receive compensation in coins for good validation. For mistakes, they can lose this right. 70% of "yes" votes allows an element to be minted on the blockchain.
            </p>
          </div>
        </div>
        <div class="faq__el">
          <div class="faq__el__top">
            <p>Open collections</p>
            <div class="collapse-btn">
              <img class="plus" src="./images/plus.png" alt="plus icon">
              <img class="minus" src="./images/minus.png" alt="minus icon">
            </div>
          </div>
          <div class="faq__collapse">
            <p>
              Everyone can create their own open collection and earn from its popularity:
            </p>
            <ul>
              <li>
                1% from the earnings of users adding elements to your collection.
              </li>
              <li>
                10% of the value when someone sells an element from your collection.
              </li>
              <li>
                10% of the value of the reward for a quest associated with your collection.
              </li>
            </ul>
          </div>
        </div>
        <div class="faq__el">
          <div class="faq__el__top">
            <p>Tasks & Rewards</p>
            <div class="collapse-btn">
              <img class="plus" src="./images/plus.png" alt="plus icon">
              <img class="minus" src="./images/minus.png" alt="minus icon">
            </div>
          </div>
          <div class="faq__collapse">
            <p>Tokens can be earned for:</p>
            <ul>
              <li>
                Adding elements to the collection and acceptance by validators.
              </li>
              <li>
                Trading elements with other users.
              </li>
              <li>
                Your meme on the main page.
              </li>
              <li>
                Your element being used X times by other users, appearing on the main page.
              </li>
            </ul>
          </div>
        </div>
        <div class="faq__el">
          <div class="faq__el__top">
            <p>Summary</p>
            <div class="collapse-btn">
              <img class="plus" src="./images/plus.png" alt="plus icon">
              <img class="minus" src="./images/minus.png" alt="minus icon">
            </div>
          </div>
          <div class="faq__collapse">
            <p>
              This is a new type of platform, where the community is the owner and co-creator of its success. Everything is based on blockchain technology.
            </p>
          </div>
        </div>
        <div class="faq__el">
          <div class="faq__el__top">
            <p>Current status</p>
            <div class="collapse-btn">
              <img class="plus" src="./images/plus.png" alt="plus icon">
              <img class="minus" src="./images/minus.png" alt="minus icon">
            </div>
          </div>
          <div class="faq__collapse">
           <p>
            The platform is in beta version, available only for desktop users. It does not work on mobile devices.
           </p>
          </div>
        </div>

      </div>
    </div>
  </section>

</body>

</html>